.main {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url('./../components/img/BLACK_II_desktop-1.jpg');
  background-position: center;
  background-size: cover;
}