.container{
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar{
  height: 70%;
  width: 100px;
  border-radius: 20px;
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: center;
  align-items: center;
}